#meuId {
    background-color: darkcyan;
    width: 300px;
    height: 300px;
    font-size: 17px;
}

.minhaclasse{
    background-color: blue;
    width: 300px;
    height: 300px;
    border: 10px solid;
    font-size: 29px;
}

div{
    background-color: coral;
    width: 300px;
    height: 100px;
    border: 10px solid;
    font-size: 41px;
}

div>p {
    color: aqua;
    font-weight: bold;
}
.minhaclasse .div3{
    color: darkred;
    font-size: 11px;
}

#mt{
    margin-top: sopx;

}

#mb{
    margin-bottom: 25px;
}

#ml{
    margin-left: 100px;
}

#mr{
    margin-right: 100px;
}

#m-all{
    margin: 100px,50px,100px,50px;
}

#pt{
   padding-top: sopx;

}

#pb{
   padding-bottom: 25px;
}

#pr{
    padding-left: 100px;
}

#pl{
    padding-right: 100px;
}

#p-all{
    padding: 100px,50px,100px,50px;
}


/* display */

.block-element{
 display: block;
}

.inline-element{
 display: inline;
}

.inline-bloc-element{
 display: inline-block;
}

.none-element{
 display: none;
}

/*positions */
.static-box{
    position: static;
    background-color: blueviolet;
    width: 300px;
    height: 150px;
    border: 1px solid;
    top: 150px;
}

.relative-box{
    position: relative;
    background-color: rgb(226, 43, 98);
    width: 300px;
    height: 100px;
    border: 1px solid;
    top: 10px;
    left: 150px;
}

.fixes-box{
    position: fixed;
    background-color: rgb(122, 43, 226);
    width: 300px;
    height: 100px;
    border: 1px solid;
    top: 200px;
    left: 100px;
}

.parent{
    position: relative;
    height: 500px;
}

.absolute-box {
    position: absolute;
    width: 300px;
    height: 100px;
    border: 1px solid;
    top: 10px;
    background-color: brown;
}

.f-h-start{
    display: flex;
    justify-content: start;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
.f-h-end{
    display: flex;
    justify-content: end;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
.f-h-center{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}

.f-h-arround{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}

.f-h-between{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
span{
    background-color: aliceblue;
    font-size: 18px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 5px;


}

.f-v-start{
    display: flex;
    align-items: start;
    height: 200px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
.f-v-end{
    display: flex;
    align-items: end;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
.f-v-center{
    display: flex;
    align-items: center;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}
.f-v-stretch{
    display: flex;
    align-items: stretch;
    height: 100px;
    width: 25vw;
    background-color: aquamarine;
    margin-top: 10px;

}

.f-h-start-col{
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 150px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
.f-h-end-col{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 150px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
.f-h-center-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}